body {
  margin: 0%;
}
.order {
  /* background-color: aqua; */
  background-image: url("../img/6880.jpg_wh860.bng.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.container {
  background-color: aliceblue;
  width: 300px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.img {
  background-image: url(../img/illustration-hero.svg);
  background-size: cover;
  width: 100%;
  height: 30%;
  border-radius: 20px 20px 0px 0px;
}
.text {
  text-align: center;
}
.order .container .text h3 {
  font-weight: bold;
  text-transform: capitalize;
  font-family: sans-serif;
}
.order .container .text p {
  font-size: 11px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: sans-serif;
  padding: 0px 50px;
  color: #7e7e7e;
}
.audio {
  background-color: #d3cccc54;
  width: 85%;
  height: 70px;
  margin-left: 7%;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.audio .logo {
  background-image: url(../img/icon-music.svg);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}
.button button {
  background-color: hsl(228, 45%, 44%);
  width: 80%;
  height: 40px;
  border-radius: 8px;
  margin-left: 10%;
  margin-top: 40px;
  border: none;
  color: #fff;
  font-weight: bold;
}
.button button:hover {
  background-color: hsl(228deg 99% 17%);
}
.site {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 13px;
  margin-left: -40px;
  text-transform: capitalize;
}
.site p:last-child {
  color: #7e7e7e;
}
a {
  margin-left: 50px;
  margin-right: 15px;
}
.footter {
  text-align: center;
  padding-top: 40px;
}
